---
name: CI

on:
  pull_request:

jobs:
  CI:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive

      - name: Update repositories
        run: |
          sudo apt update

      - name: Install LaTeX dependencies
        run: |
          sudo apt-get install -f -y texlive-latex-extra latexmk

      - name: Setup Python
        uses: actions/setup-python@v1

      - name: Install Sphinx
        run: |
          pip install --user --upgrade --upgrade-strategy eager sphinx sphinx-rtd-theme sphinx-copybutton restructuredtext_lint rstcheck pygments

      - name: Lint rst
        run: |
          set -x
          mkdir _tmp/
          python3 copyreplace.py _tmp/ *.rst
          rstcheck --ignore-languages c,c++ --report-level warning _tmp/*
          rm -fr _tmp/

      - name: Build web documentation
        run: |
          make html

      - name: Build PDF documentation
        run: |
          make latexpdf

      - name: Build EPUB documentation
        run: |
          make epub
